body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrapper div{
    display: flex;
    flex-direction: column;
}
.usd{
    margin: 50px 0;
}
input{
    padding: 10px 20px;
    font-size: 20px;
}
